<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') -%>
    <title>Document</title>
</head>
<body>

    <%- include ('partials/nav.ejs') -%>
    <div class="container animate__animated animate__fadeIn">
        <br>
        <br>
        <br>
        <br>
        <br>
        Esta es una web con ninguna utilidad más que academica<br>
        es mi primera web en node<br>
        así que en ese sentido tiene muchisima utilidad (?)<br>
        etc(?)<br>
        si estas leyendo esto es porque pude ponerla online<br>
        estoy orgulloso de mi (??????????????????)<br>
        fin del comunicado<br>
        <br>
        <br>
        pd: el form no anda por ahora pero es posible q sí lo haga funcionar<br>
        más adelante otro día lo hago<br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <%- include ('partials/footer.ejs') %>

</body>
</html>