<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') -%>
    <title>Document</title>
</head>
<body>

    <%- include ('partials/nav.ejs') -%>
    

    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animate__animated animate__fadeInLeft ">
                    <div class="card-header">
                        Contacto
                    </div>
                    <div class="card-body">
                        <form action="" id="formulario" onsubmit="event.preventDefault();">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email</label>
                            </div>

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Deje su comentario aquí" id="floatingTextarea2" style="height: 200px"></textarea>
                                <label for="floatingTextarea2">Comentarios</label>
                            </div>
                            <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-block" onClick = "document.getElementById('texto').style.display='block'" >Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="texto" style="display: none">(el boton no hace nada)</div>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.ejs') %>

</body>
</html>