<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') -%>
    <title>Document</title>
</head>

<body>
    <%- include ('partials/nav.ejs') -%>
    
    <div class="">
        <header class='row'>
            <div class='col-lg-12 text-center'>
                <img class="animate__animated animate__flipInX" src="/img/dragon.png" alt="asd" width="1000" height="400">
            </div>
        </header>
    </div>

    <!--SECTION-->

    <div class="container-fluid animate__animated animate__fadeInUp" id="about">
        <div class="row bg-dark">
            <div class="col-sm-12 text-light">
                <H1>Hola</H1><br>
                laralalalalal<br>
                acá dice de qué trata la pagina<br>
                la imagen del dragon no es mía claro está<br>
                la encontré en google<br>
                buscando "dragon png"<br>
            </div>
        </div> 
    </div>

    <%- include ('partials/footer.ejs') %>
</body>

</html>